{% extends "layout.html" %}


{% block title %}{{ test.name }}{% endblock %}


{% block scripts %}<script src='/static/editor.js'></script>{% endblock %}


{% block main %}

<h1>{{ test.name }}</h1>

<ol id='questions'></ol>

<input id='question-title' type='text' placeholder='Otázka'>
<button class='btn btn-primary' id='new-question'>Přidat otázku</button>

<hr>

<button class='btn btn-primary' id='save'>Uložit</button>
<button class='btn btn-primary' id='to-json'>Uložit do souboru</button>

<form action='/editor/{{ test.id }}' method='post'>
  <input id='secret-input' type='text' name='test-json' required hidden='true'>
  <button id='secret-button' type='submit' hidden='true'></button>
</form>

{% for question in test.questions %}

<script>
  newQuestion('{{ question.name }}');

  {% for answer in question.answers %}
  
  newAnswer(questionCount() - 1, '{{ answer.name }}', {{ answer.correct | int }});

  {% endfor %}
</script>

{% endfor %}

{% endblock %}
