{% extends "layout.html" %}


{% block title %}index{% endblock %}


{% block main %}

<h1>TESTY</h1>

{% for test in tests %}

<p>
  {% if test.creator_id == session.id %}
  
  <strong>{{ test.name }}</strong>

  {% else %}

  {{ test.name }}

  {% endif %}
</p>

{% endfor %}

<form action='new_test' method='post'>
  <div class='form-group'>
    <input type='text' name='name' placeholder='Jmeno testu' autocomplete='off' autofocus required>
  </div>

  <button type='submit' class='btn btn-primary'>Vytvorit</button>
</form>

{% endblock %}
