{% extends "layout.html" %}


{% block title %}index{% endblock %}


{% block main %}

<h1>TESTY</h1>

{% for test in tests %}

<p>
  {% if test.creator_id == session.id %}

  <a href='/results/{{ test.id }}'>vysledky</a>
  <a href='/test/{{ test.id }}'>nahled</a>
  
  <strong>{{ test.name }}</strong>

  <a href='/editor/{{ test.id }}'>edit</a>
  <a href='/settings/{{ test.id }}'>nastaveni</a>

  {% else %}

  <a href='/test/{{ test.id }}'>vyplnit</a>

  {{ test.name }}

  {% endif %}
</p>

{% endfor %}

<form action='/new_test' method='post'>
  <div class='form-group'>
    <input type='text' name='name' placeholder='Jmeno testu' autocomplete='off' autofocus required>
  </div>

  <button type='submit' class='btn btn-primary'>Vytvorit</button>
</form>

{% endblock %}
