{% extends "layout.html" %}


{% block title %}index{% endblock %}


{% block scripts %}<script src='/static/index.js'></script>{% endblock %}


{% block main %}

<h1>vyplnit test</h1>

{% if not available %}

zadne testy nejsou dostupne

{% else %}

<select id='test-id'>
  <option value='' selected disabled>testy</option>

  {% for test in available %}

  <option value='{{ test.id }}'>{{ test.name }}</option>

  {% endfor %}
</select>

<button id='test-redirect' class='btn btn-primary'>Vyplnit</button>

{% endif %}

<hr>

<h1>vytvorit test</h1>

<form action='/new_test' method='post'>
  <div class='form-group'>
    <input type='text' name='name' placeholder='Jmeno testu' autocomplete='off' autofocus required>
  </div>

  <button type='submit' class='btn btn-primary'>Vytvorit</button>
</form>

{% endblock %}
