{% extends "layout.html" %}


{% block title %}přihlášení{% endblock %}


{% block main %}

<h1>přihlášení</h1>

<form action='/login' method='post'>
  <div class='form-group'>
    <input type='text' name='username' placeholder='Uživatelské jméno' autocomplete='off' autofocus>
  </div>

  <div class='form-group'>
    <input type='password' name='password' placeholder='Heslo' autocomplete='off'>
  </div>

  <button type='submit' class='btn btn-primary'>Přihlásit</button>
</form>

{% if error %}

<div class='alert alert-warning'>
  <strong>{{ error }}</strong>
</div>

{% endif %}

{% endblock %}
