{% extends "layout.html" %}


{% block title %}registrace{% endblock %}


{% block main %}

<h1>registrace</h1>

<form action='/register' method='post'>
  <div class='form-group'>
    <input type='text' name='username' placeholder='Uživatelské jméno' autocomplete='off' autofocus>
  </div>

  <div class='form-group'>
    <input type='text' name='name' placeholder='Jméno a příjmení' autocomplete='off'>
  </div>

  <div class='form-group'>
    <input type='password' name='password' placeholder='Heslo' autocomplete='off'>
  </div>

  <div class='form-group'>
    <input type='password' name='confirmation' placeholder='Heslo znovu' autocomplete='off'>
  </div>

  <button type='submit' class='btn btn-primary'>Registrovat</button>
</form>

{% if error %}

<div class='alert alert-warning'>
  <strong>{{ error }}</strong>
</div>

{% endif %}

{% endblock %}
