{% extends "layout.html" %}


{% block title %}{{ test.name }}{% endblock %}


{% block scripts %}<script src='/static/settings.js'></script>{% endblock %}


{% block main %}

<h1>{{ test.name }}</h1>

<form action='/settings/{{ test.id }}' method='post'>

  <label for='length'>celkem otázek:</label>
  <input type='text' value='{{ questions | length }}' id='length' readonly>

  <br>

  <label for='parts'>otázek v testu:</label>

  {% if test.parts %}

  <input type='text' name='parts' autocomplete='off' value='{{ test.parts }}' id='parts'>

  {% else %}

  <input type='text' name='parts' autocomplete='off' value='{{ questions | length }}' id='parts'>

  {% endif %}

  <br>

  <label for='solution'>zobrazovat výsledky testu:</label>

  {% if test.solution %}

  <input type='checkbox' name='solution' id='solution' checked>

  {% else %}

  <input type='checkbox' name='solution' id='solution'>

  {% endif %}

  <br>

  <label for='access'>test je přístupný:</label>

  {% if test.access %}

  <input type='checkbox' name='access' id='access' checked>

  {% else %}

  <input type='checkbox' name='access' id='access'>

  {% endif %}

  <br>

  <button type='submit' class='btn btn-primary'>Uložit</button>
</form>

<hr>

<p>vstup ze souboru (JSON)</p>

<input type='file' id='file-input'>
<button class='btn btn-primary' id='visible-submit'>Nahrát</button>

<form action='/editor/{{ test.id }}' method='post'>
  <input type='text' name='test-json' id='test-json' hidden>
  <button type='submit' id='hidden-submit' hidden></button>
</form>

<hr>

<p>odstranit test</p>

<form action='/delete/{{ test.id }}' method='get'>
  <button class='btn btn-primary' type='submit'>Odstranit</button>
</form>

{% endblock %}
