{% extends "layout.html" %}


{% block title %}viewing {{ test.id }}{% endblock %}


{% block main %}

<h1>{{ test.name }}</h1>

<form action='/test/{{ test.id }}' method='post'>
  <ol>
    {% for question in questions %}

    <li>
      <strong>{{ question.name }}</strong>

      {% for answer in question.answers %}

      <div>
	<input type='radio' name='{{ question.id }}' value='{{ answer.id }}' id='{{ answer.id }}'>
	<label for='{{ answer.id }}'>{{ answer.name }}</label>
      </div>

      {% endfor %}
    </li>

    {% endfor %}
  </ol>

  {% if user.id != test.creator_id %}

  <button type='submit' class='btn btn-primary'>Odevzdat</button>

  {% endif %}
</form>

{% endblock %}
